.documentsviewcontainer {
  overflow: scroll;
  height: 100%;
}

.refreshDivButton {
  position: absolute;
  top: 15px;
  left: 15px;
}

.searchLocation {
  position: absolute;
  top: 7px;
  left: 90px;
  width: 48%;
}

.chonky {
  height: 100%;
  margin-top: 80px;
}

/* Hides the 'go up a folder'-button. This is currently the only button with class 'chonky-button-group'.
  Will give problems if other buttons with that class would be added. */
.chonky-button-group {
  display: none;
}

/* When screen is (not) wide, make sure top of file viewer looks good */
@media (min-width: 580px) {
  .chonky {
    margin-top: 20px;
  }
}

.fileLoader {
  margin: auto;
  margin-top: 100px;
  width: fit-content;
}

.contactListWebID {
  color: gray;
}