.sidebarList {
  height: calc(100% - 35px);
  overflow-x: scroll;
}

.li {
  overflow-wrap: break-word;
}

.commentContainer {
  height: 60%; /* accesscontroller is 40, title would be about 5 */
}

.uppercontainer {
  max-height: calc(100% - 150px); /* 150: height of .lowercontainer */
  overflow-y: auto;
  overflow-x: hidden;
}

.lowercontainer {
  padding-top: 5px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.col {
  text-align: center;
}