.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body, #root, #app, #app>div {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 60px;
}

.contentcontainer {
  flex-grow: 1;
  height: calc(100% - 65px);
  width: 100%;
  padding: 10px;
  margin: auto;
}

.maincontentcontainer {
  height: 100%;
  display: inline-block;
  padding: 5px;
}

.sidebarcomponentcontainer {
  height: 85%;
  width: 96%;
  padding: 10px;
  padding-top: 20px;
  z-index: 300;
  right: 15px;
  top: 108px;
  position: absolute;
  background-color: #e9e9e9 !important;
}

.button-sidebarexpand {
  z-index: 500;
  right: 20px;
  top: 135px;
  position: absolute;
}